.header {
    font-family: Galada;
    font-size: 100px;
    color: #b50b19;
}

.dot {
    color: #537b8a;

}

.jumbotron {
    background-color: #d2edf7;
}

.lead {
    font-family: Galada;

}

h3 {
    font-family: Galada;
}


537b8a
